<!DOCTYPE html>
<html>
  <head>
    <title>Tweetapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <header>
      <div class="header-logo">
        <a href="/">Twitter2</a>
      </div>
      <ul class="header-menus">
        <a href="/about"><li>Twitter2とは</li></a>
      </ul>
    </header>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
